<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>AddressBook Application</title>
        <h1>Created by Max Curkovic, 101139937</h1>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <h1>Welcome to the AddressBook application</h1>
        <form th:action="@{/addaddressbook}" method="post" id="createaddressbook">
            <p><input type="submit" value="Create New Address Book" /></p>
        </form>

        <h2>Created AddressBooks</h2>
        <ul>
            <p th:each="addressbook : ${AddressBooks}">
                <br>
                <a href="/displayaddressbook" th:href="@{/displayaddressbook(id=${addressbook.id})}">AddressBook#<span th:text="${addressbook.id}"></span></a>
            </p>
            <p id="addressbooks" >
            </p>
        </ul>
    </body>
    <script>
        $(document).on("submit", "#createaddressbook", function (event) {
            $.ajax({
                type: $("#createaddressbook").attr("method"),
                url: '/addaddressbook'
            }).done(function (response) {
                let result = $.trim(response);
                $("#addressbooks").append("<br><a href=\"/displayaddressbook?id=" + result + "\">AddressBook#<span>"+ result + "</span></a>");
            });
            event.preventDefault();
        });
    </script>
</html>